<!DOCTYPE html>
  <!-- Page Content -->
  <div class="container">

    <h1 class="content-title my-4 text-center">Items in your cart</h1>

    <div class="table-responsive">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h4>Cart Items</h4></div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                {{#each shoppings}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{cost}}</td>
                </tr>
                {{/each}}
                <tr style="font-weight: bold;">
                    <td>TOTAL</td>
                    <td>{{sum}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {{#if auth}}
    <button class="btn btn-primary" type="submit" onclick="buy_now(this)">Buy Now</button>
    {{else}}
    <h4>Please sign in to buy items</h4>
    {{/if}}
    <a href="home" class="btn btn-success" role="button">Back to Store</a>


  </div>
  <!-- /.container -->

<script>
  function buy_now(element) {
    console.log("Inside Buy");
    const data = {};
    const options = {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    };
    fetch('/update', options);
    location.reload()
    return false
  }
</script>